<aside 
  [ngClass]="baseClasses"
  [class.-translate-x-full]="!layoutService.isSidebarOpen()"
  [class.translate-x-0]="layoutService.isSidebarOpen()"
>
  <!-- Header con Logo -->
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold tracking-tight text-green-500">VitalFlow</h1>
    <button (click)="layoutService.toggleSidebar()" class="p-2 hover:bg-zinc-800 rounded-lg lg:hidden">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>

  <!-- Search Bar -->
  <app-input-search class="my-8" placeholder="Search..."></app-input-search>

  <!-- Navigation -->
  <nav class="flex-1 space-y-2 overflow-y-auto">
    <div 
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      [routerLinkActiveOptions]="item.route === '/dashboard' ? {exact: true} : {exact: false}"
      routerLinkActive
      #rla="routerLinkActive"
      [ngClass]="[itemClasses, rla.isActive ? itemActiveClasses : '']"
    >
      <fa-icon 
        [icon]="item.icon" 
        [class.text-green-500]="rla.isActive"
        class="transition-colors"
      ></fa-icon>
      
      <span class="flex-1 text-sm font-medium">{{ item.label }}</span>

      <!-- Badges -->
      <app-badge 
        *ngIf="item.badge"
        [color]="item.badge.color"
        variant="subtle"
      >
        {{ item.badge.value }}
      </app-badge>
    </div>
  </nav>

  <!-- Footer Info / Profile -->
  <div class="pt-6 border-t border-zinc-200 dark:border-zinc-800">
    <div class="flex items-center gap-3 px-2">
      <div class="hover:bg-zinc-200 dark:hover:bg-zinc-700 rounded-xl flex items-center transition-all cursor-pointer duration-200 hover:p-2">
        <app-avatar
          [appContextMenu]="profileContextMenu"
          appContextMenuTrigger="both"
          [src]="profile()?.picture || ''" 
          [alt]="profile()?.firstName || 'Avatar'"
          [initials]="(profile()?.firstName?.charAt(0) || '') + (profile()?.lastName?.charAt(0) || '')"
        ></app-avatar>
      </div>
    </div>
  </div>
</aside>

<!-- Overlay para móvil -->
<div 
  *ngIf="layoutService.isSidebarOpen()" 
  (click)="layoutService.closeSidebar()"
  class="fixed inset-0 bg-black/40 backdrop-blur-[2px] z-40 lg:hidden"
></div>
