@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html, body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  @apply antialiased;
}
