<button 
  [ngClass]="buttonClasses()" 
  (click)="onHandlerClick($event)"
>
  @if (leadingIcon()) {
    @if (isIconDefinition(leadingIcon())) {
      <fa-icon [icon]="$any(leadingIcon())"></fa-icon>
    } @else {
      <i [ngClass]="leadingIcon()"></i>
    }
  }
  @if (label()) {
    <span >{{ label() }}</span>
  }
  @if (trailingIcon()) {
    @if (isIconDefinition(trailingIcon())) {
      <fa-icon [icon]="$any(trailingIcon())"></fa-icon>
    } @else {
      <i [ngClass]="trailingIcon()"></i>
    }
  }
</button>